@import "./shared/variables.css";
@import "./shared/header.css";
@import "./shared/buttons.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color: var(--color-text--light);
}

html {
  font-size: 10px;
}

body {
  background: linear-gradient(
    to right,
    var(--color-background--dark),
    var(--color-background--dark)
  );
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.inner-container {
  margin: 0 2rem;
}
